header.header
  a.header__logo.logo(href='/')
    img.logo__image(src='/img/icons/logo-image-only.svg', alt='логотип Типотеки')
    span.logo__name Типотека
  if user
    if user.role==='admin'
      a.button.button--colored.header__button-new(href='/articles/add') Новая запись
      .header__dropdown
        button.button.button--burger.header__burger Открыть меню
        ul.navigation.header__navigation
          li.navigation__item
            a(href='/my') Мои публикации
          li.navigation__item
            a(href='/categories') Категории
          li.navigation__item
            a(href='/my/comments') Комментарии
    else
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            p #{user.name}
          li.header__list-item
            a.header__exit(href='/logout') Выйти &nbsp
      if user.avatar
        a.header__avatar.avatar
          img(src=`/img/${user.avatar}`, alt='аватар пользователя')
  else
    nav.header__nav
      ul.header__nav-list
        if screen === 'register'
          li.header__list-item
            a.header__popup Регистрация
          li.header__list-item
            a.header__enter(href='/login')  Вход с паролем
        else if screen === 'login'
          li.header__list-item
            a.header__registration(href='/register') Регистрация
          li.header__list-item(style={padding: '0 19px'})
            a.header__popup Вход с паролем
        else
          li.header__list-item
            a.header__registration(href='/register') Регистрация
          li.header__list-item
            a.header__enter(href='/login')  Вход с паролем
  a.header__search.button.button--search(href='/search', aria-label='поиск по сайту')
